.side-bar
  .header
    %b.header__name 
      = current_user.name 
    %ul.header__lists
      %li.list
        = link_to "#" do
          = icon('fas', 'edit')
      %li.list
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .groups
    .group
      %b.group__name sample
      %h3.group__message Good bye world!